/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.todo-list {
  position: relative;
  background: white;
  width: 700px;
  min-height: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 3;
}

/* hoja 1 */
.todo-list::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 5px;
  width: calc(100% - 10px);
  height: 10px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  z-index: -1;
}

/* hoja 2 */
.todo-list::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  background: #f1f3f5;
  border: 1px solid #ddd;
  z-index: -2;
}


input{


    border: none;
    outline: none;



}

input:focus {
  /* Agrega un borde inferior sutil en lugar de un recuadro completo */
  
  border-bottom: 2px solid #e9e5e5de;
  background-color: #e0e0e0ac; 
}

.tarea{

    background-color: #f0ebeb7d;
    border-bottom: 2px solid #e4e2e2de;;

}

.pendientes{


    color: rgb(187, 193, 196);
}


.tarea:hover{


    background-color: rgba(245, 245, 245, 0.356);
}

button{

    border: none;
    background-color: transparent;
}

button:hover{

    background-color: rgba(132, 68, 68, 0.482);
    font-size: 20px;
    color: rgb(131, 38, 38);
}

button:active{

    background-color: transparent;
    font-size: 22px;
    color: rgb(167, 23, 23);
    font-weight: 700;


}